<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomMetrics" type="RapidPlanEvaluation.CustomMetricsConfiguration,RapidPlanEvaluation.esapi"/>
    <section name="DefaultMetrics" type="RapidPlanEvaluation.DefaultMetricsConfiguration,RapidPlanEvaluation.esapi"/>
    <section name="SitesConfiguration" type="RapidPlanEvaluation.SitesConfiguration,RapidPlanEvaluation.esapi"/>
  </configSections>

  <!--
  Define the custom metrics here. The format is
   <Metric base="xxx" name="xxx" parameter="xxx" (optional)eqd2=true/>
   where
    name: the name that will be displayed. The name must be unique.
    base: the generic metric this is base on. Options are
      D#%(Gy) :  Absolute Dose to given relative Volume
      D#%(%) :  Relative Dose to given relative Volume
      D#cc(Gy) :  Absolute Dose to given absolute Volume
      D#cc(%) :  Relative Dose to given absolute Volume
      V#%(cc) :  Absolute Volume receiving given relative Dose
      V#%(%) :  Relative Volume receiving given relative Dose
      V#Gy(cc) :  Absolute Volume receiving given absolute Dose
      v#Gy(%) :  Relative Volume receiving given absolute Dose
      NTCP: 

    parameter: the value of the # parameter.
  -->
  <CustomMetrics>
    <Metrics>
      <!-- This is an example, delete it at will-->
      <Metric name="D0.5cc(Gy)" base="D#cc(Gy)" parameter="0.5"/>
      <Metric name="D1cc(Gy)" base="D#cc(Gy)" parameter="1"/>
      <Metric name="D2%(Gy)" base="D#%(Gy)" parameter="2"/>
      <Metric name="D3%(Gy)" base="D#%(Gy)" parameter="3"/>
      <Metric name="D10%(Gy)" base="D#%(Gy)" parameter="10"/>
      <Metric name="D15%(%)" base="D#%(%)" parameter="15"/>
      <Metric name="D40%(Gy)" base="D#%(Gy)" parameter="40"/>
      <Metric name="D50%(Gy)" base="D#%(Gy)" parameter="50"/>
      <Metric name="D60%(Gy)" base="D#%(Gy)" parameter="60"/>
      <Metric name="D95%(Gy)" base="D#%(Gy)" parameter="95"/>
      <Metric name="D98%(Gy)" base="D#%(Gy)" parameter="98"/>
      <Metric name="D99%(Gy)" base="D#%(Gy)" parameter="99"/>
      <Metric name="V5Gy(%)" base="V#Gy(%)" parameter="5"/>
      <Metric name="V18Gy(%)" base="V#Gy(%)" parameter="18"/>
      <Metric name="V20Gy(%)" base="V#Gy(%)" parameter="20"/>
      <Metric name="V30Gy(%)" base="V#Gy(%)" parameter="30"/>
      <Metric name="V35Gy(%)" base="V#Gy(%)" parameter="35"/>
      <Metric name="V40Gy(%)" base="V#Gy(%)" parameter="40"/>
      <Metric name="V45Gy(%)" base="V#Gy(%)" parameter="45"/>
      <Metric name="V50Gy(%)" base="V#Gy(%)" parameter="50"/>
      <Metric name="V54Gy(%)" base="V#Gy(%)" parameter="54"/>
      <Metric name="V60Gy(%)" base="V#Gy(%)" parameter="60"/>
      <Metric name="V65Gy(%)" base="V#Gy(%)" parameter="65"/>
      <Metric name="V100%(%)" base="V#%(%)" parameter="100"/>
      <Metric name="V50Gy(cc)" base="V#Gy(cc)" parameter="50"/>
      <Metric name="V51Gy(cc)" base="V#Gy(cc)" parameter="51"/>
      <Metric name="V54Gy(cc)" base="V#Gy(cc)" parameter="54"/>
      <Metric name="V60Gy(cc)" base="V#Gy(cc)" parameter="60"/>
    </Metrics>
  </CustomMetrics>


  <!--
  Define default metrics here. The format is:
  <Metric structure="xxx" metric="xxx"/>
  where
   structure: the name or part of the name of the structure (case insensitive)
   metric: the default (or custom) metric. Options are
        "Mean Dose","DMax","D0.1cc","D95%","D5%","V33%"  or any user 
        defined metric from the <CustomMetrics> section
  -->
  <DefaultMetrics>
    <Metrics>
      <Metric structure="LUNG" metric="V20Gy(%)"/>
      <Metric structure="LIVER" metric="Mean Dose"/>
      <Metric structure="KIDNEY" metric="Mean Dose"/>
      <Metric structure="STOMACH" metric="D0.1cc(Gy)"/>
      <Metric structure="DUODENUM" metric="D0.1cc(Gy)"/>
      <Metric structure="BOWEL" metric="D0.1cc(Gy)"/>
      <Metric structure="BRAINSTEM" metric="D0.1cc(Gy)"/>
      <Metric structure="CHIASM" metric="D0.1cc(Gy)"/>
      <Metric structure="COCHLEA" metric="D0.1cc(Gy)"/>
      <Metric structure="CONSTRICTOR" metric="Mean Dose"/>
      <Metric structure="CORD" metric="D0.1cc(Gy)"/>
      <Metric structure="CTV" metric="D95%(Gy)"/>
      <Metric structure="ESOPHAGUS" metric="Mean Dose"/>
      <Metric structure="EYE" metric="D0.1cc(Gy)"/>
      <Metric structure="LACRIMAL" metric="Mean Dose"/>
      <Metric structure="LARYNX" metric="Mean Dose"/>
      <Metric structure="LENS" metric="D0.1cc(Gy)"/>
      <Metric structure="LIPS" metric="V35Gy(%)"/>
      <Metric structure="MANDIBLE" metric="D0.1cc(Gy)"/>
      <Metric structure="OPTNRV" metric="D0.1cc(Gy)"/>
      <Metric structure="ORAL_CAVITY" metric="Mean Dose"/>
      <Metric structure="PAROTID" metric="Mean Dose"/>
      <Metric structure="SUBMAND" metric="Mean Dose"/>
      <Metric structure="TEMP_LOBE" metric="D0.1cc(Gy)"/>
    </Metrics>
  </DefaultMetrics>

  <SitesConfiguration>
    <!-- Defined body sites for NTCP calculations, add a new <Site> line for each new site -->
    <Sites>
      <Site name="Lung" structure="LUNG_NTCP" metric="BioNTCP" goal="15" alphabeta="2.5" lkbn="0.99" lkbm="0.37" lkbd50="30.8"/>
      <Site name="Liver Primary" structure="LIVER_NTCP" metric="BioNTCP" goal="15" alphabeta="2.5" lkbn="0.97" lkbm="0.12" lkbd50="35.4"/>
      <Site name="Liver Metastatic" structure="LIVER_NTCP" metric="BioNTCP" goal="15" alphabeta="2.5" lkbn="0.97" lkbm="0.12" lkbd50="40.7"/>
      <Site name="Rectum" structure="Rectum_NTCP" metric="BioNTCP" goal="15" alphabeta="3.0" lkbn="0.09" lkbm="0.13" lkbd50="76.9"/>
    </Sites>
  </SitesConfiguration>

  
  <appSettings>
    <!-- The DBH bin size in Gy -->
    <add key="DVHBinSize" value="0.1"/>
  </appSettings>

</configuration>