<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="NodaTime" version="2.3.0" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net471" />
</packages>