<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="server" value="tboxvais" />
    <add key="gatewayrestapi" value="https://tboxvais:55051/Gateway/Service.svc/interop/rest" />
    <add key="gatewaysoapapi" value="https://tboxvais:55051/Gateway/Service.svc/interop/soap" />
    <add key="port" value="1433" />
    <add key="database" value="VARIAN" />
    <add key="adserviceuser" value="SampleADServiceAcct" />
    <add key="adservicepassword" value="sadsa#3" />
    <add key="dsnname" value="SQL Server ODBC" />
    <add key="Authority" value="https://tboxvais:44333/tokenservice" />
    <add key="ClientIdentifier" value="31e6a310-d3fd-4844-9462-eee2772da879" />
    <add key="ClientSecret" value="asecret" />
    <add key="Scope" value="Varian/SharedFramework/Infrastructure/Settings/Read" />
    <add key="GatewayTokenUri" value="https://tboxvais:55051/Gateway/Service.svc/token/process" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
