<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PhantomThickness" value="40.0"/>
    <add key="6X" value="1.5"/>
    <add key="10X" value="2.3"/>
    <add key="15X" value="2.7"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
