<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ScriptsConfiguration" type="PluginTester.ScriptsConfiguration,PluginTester"/>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <ScriptsConfiguration>
    <Scripts>
      <Script name="UMDVHAnalysis" description="UMDVHAnalysis"/>
      <Script name="UMBioEvaluation" description="UMBioEvaluation"/>
      <Script name="UMSRSSecondCheck" description="UMSRSSecondCheck"/>
    </Scripts>
  </ScriptsConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

   <log4net>
    <root>
      <level value="DEBUG"/>
      <!--level value="INFO" /-->
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-6p%d{ISO8601} %t %m%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${ALLUSERSPROFILE}\logging\CalypsoDataExport_Test.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="50"/>
      <maximumFileSize value="1000000"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-6p%d{ISO8601} %t %m%n"/>
      </layout>
    </appender>
  </log4net>
  
</configuration>
